@import "tailwindcss" theme(static);
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Lora', serif;
}

:root {
  --ui-primary: black;
  --ui-radius: 0.5rem;
}

.dark {
  --ui-primary: white;
}
