@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Lora', serif;
}

:root {
  --ui-primary: black;
  --ui-radius: var(--radius-lg);
}

.dark {
  --ui-primary: white;
}
